- load django_tables2

div.verticalen
  h2 Verticalen
  - render_table verticalen

  h2 Commissies
  - render_table commissies

  h2 Lichtingen
  - render_table lichtingen

  h2 Werkgroepen
  - render_table werkgroepen

  h2 Onderverenigingen
  - render_table onderverenigingen
