.row#frontpage
  .col-lg-8
    .row
      .col-md-6
        div.front-page-block#agenda
          h3 Agenda

          ul
            li
              p.date
                span.no 30
                br
                span.mo mei
              p.text
                | LAN party
            li
              p.date
                span.no 31
                br
                span.mo mei
              p.text
                | Exodus

        div.front-page-block#mededelingen
          h3 Mededelingen

          ul.mededeling
            li
              | First!

      .col-md-6
        div.front-page-block#forum-important
          h3 Forum Belangrijk

          ul.mededeling
            li
              | First!

        div.front-page-block#forum-recent
          h3 Forum Recent

          ul.mededeling
            li
              | First!

  .col-lg-4

    div.front-page-block#birthdays
      h3 Verjaardagen

      ul.mededeling
        li
          | First!

    div.front-page-block#frontpage-album
      h3 Album

      ul.mededeling
        li
          | First!

