- load django_tables2

div.dropdown
  button#forum-delen.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")
    | Fora
    span.caret
  ul.dropdown-menu(aria-labelledby="forum-delen")
    - for cat, delen in categories.items
      li
        strong {{ cat.titel }}

      - for deel in delen
        li
          a(href="?forum={{ deel.forum_id }}" role="menuitem")
            | {{ deel.titel }}

- render_table posts
