@import reset
@import css3
@import breadcrumbs
@import fonts
@import variables
@import sidebar
@import layout
@import forum
@import legacy
@import frontpage
@import bootstrap.min
@import groepen

h1, h2, h3
  font-family: Museo
  font-weight: 300
  margin-bottom: 8px
  margin-top: 10px

h1
  font-size: $font-huge

h2
  font-size: $font-large

h3
  font-size: $font-Medium

p
  font-weight: lighter

a
  font-weight: normal

th
  font-weight: normal

td
  font-weight: lighter

body
  background-color: #e5e5e5
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  font-family: RobotoDraft
  font-size: $font-default
  font-weight: 300
  overflow: hidden
