// @import reset
@import fonts
@import bootstrap.min
@import css3
@import breadcrumbs
@import variables
@import sidebar
@import layout
@import legacy
@import frontpage
@import forum
@import profiel
@import groepen
@import login

h1, h2, h3
  font-family: Museo
  font-weight: 300
  margin-bottom: 8px
  margin-top: 10px

h1
  font-size: $font-huge

h2
  font-size: $font-large

h3
  font-size: $font-Medium

p
  font-weight: lighter

a
  font-weight: normal

th
  font-weight: normal

td
  font-weight: lighter

body
  background-color: #e5e5e5
  position: absolute
  left: 0px
  right: 0px
  top: 0px
  bottom: 0px
  font-family: RobotoDraft
  font-size: $font-default
  font-weight: 300
  overflow: hidden

.nav-tabs
  background-color: $dblue
  color: white
  font-size: $font-medium
  height: 40px

  & > li
    text-align: center
    line-height: 40px
    height: 40px
    font-weight: lighter
    border-bottom: 4px solid $dblue
    background-color: $dblue

    &, &.active
      & > a, a:hover, a.active, a.active:focus, a.active:hover, a:focus
        display: inline
        background: none
        border: none
          bottom: none !important
        margin: 0px
        outline: none
        color: white

  li.active
    border-bottom: 4px solid white
