@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,300,400italic);

@font-face {
    font-family: 'Museo';
    src: url('/static/fonts/museo/Museo300-Regular-webfont.eot');
    src: url('/static/fonts/museo/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo/Museo300-Regular-webfont.woff2') format('woff2'),
         url('/static/fonts/museo/Museo300-Regular-webfont.woff') format('woff'),
         url('/static/fonts/museo/Museo300-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/museo/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('/static/fonts/museo/Museo500-Regular-webfont.eot');
    src: url('/static/fonts/museo/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo/Museo500-Regular-webfont.woff2') format('woff2'),
         url('/static/fonts/museo/Museo500-Regular-webfont.woff') format('woff'),
         url('/static/fonts/museo/Museo500-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/museo/Museo500-Regular-webfont.svg#museo500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('/static/fonts/museo/Museo700-Regular-webfont.eot');
    src: url('/static/fonts/museo/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo/Museo700-Regular-webfont.woff2') format('woff2'),
         url('/static/fonts/museo/Museo700-Regular-webfont.woff') format('woff'),
         url('/static/fonts/museo/Museo700-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/museo/Museo700-Regular-webfont.svg#museo700') format('svg');
    font-weight: 700;
    font-style: normal;
}
