@import css3
@import variables

.forum-post
  +clearfix

  width: 100%
  background-color: #EEE
  padding: 20px

  border-bottom: 1px solid $accent

  div.tag
    float: left
    width: 20%

  div.text
    float: left
    width: 80%
