@import css3
@import variables

.profielLinkDiv
  position: relative

  .profielLinkHover
    position: absolute
    +box-shadow(0px 0px 10px rgba(black, 0.2))
    +border-radius(3px)
    background-color: $neutral-ultralight
    top: 0px
    left: 0px
    opacity: 0
    transition: opacity 0.5s

  .profielLinkHover:hover
    opacity: 1